<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Dear, {{Name}}!</h1>
    <p>This is an email for request adding leave</p>
    <p>I hope my request will be approved, I want to have a leave based on these following data: </p>
    <ul>
        <li>EmployeeId: {{EmployeeId}}</li>
        <li>Start Date: {{StartDate}}</li>
        <li>End Date: {{EndDate}}</li>
        <li>Leave Type: {{Leave Type}}</li>
        <li>Reason: {{Reason}}</li>
    </ul>
    <p>Thank you!</p>
    <p>From Employee</p>
</body>
</html>