<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Dear, {{Name}}!</h1>
    <p>This is the review email for your request leave</p>
    <p>I approved your leave request based on these data </p>
    <ul>
        <li>EmployeeId: {{EmployeeId}}</li>
        <li>Start Date: {{StartDate}}</li>
        <li>End Date: {{EndDate}}</li>
        <li>Leave Type: {{Leave Type}}</li>
        <li>Reason: {{Reason}}</li>
        <li>Comment: {{Comment}}</li>
    </ul>
    <p>Thank you!</p>
    <p>From Supervisor</p>
</body>
</html>